# Node.js y Angular
node_modules/
dist/
.DS_Store

# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.cache
*.csproj.user

# Archivos de compilación y dependencias
bin/
obj/
*.dll
*.exe
*.pdb
*.log

# Archivos de configuración y build
*.csproj.user
*.dbmdl
*.jfm
*.ps1
*.psm1
*.tlog
*.lastcodeanalysissucceeded

# Archivos de paquetes NuGet
*.nupkg
*.snupkg
packages/
project.lock.json

# Test y depuración
TestResults/
AppPackages/

# General
.env
.idea/
