# Node.js y Angular
node_modules/
dist/
.DS_Store

# .NET
bin/
obj/
.vscode/

# Configuración de IIS Express y Visual Studio (archivos temporales) 
.vs/
*.vsidx
*.vssscc
*.user
*.suo
Documents/IISExpress/  

# General
.env
.idea/
